################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/70-483/sln70483/prjChap01/bin/Debug
/70-483/sln70483/prjChap01/obj/Debug
*.suo
/70-483/sln70483/prjChap01/obj/Debug
/70-483/sln70483/prjChap01/obj/Debug
